<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="/icons/openscad-48.png"
        class="me-2"
        height="20"
        alt=""
        loading="lazy"
      />
      <small>OpenSCAD Web UI</small>
    </a>
  </div>
</nav>
