
<div class="p-4">
  <h5 class="mb-4">Configurações do Editor</h5>
  <div class="form-outline mb-4">
    <input type="number" id="editorFontSize" class="form-control" min="10" max="24" />
    <label class="form-label" for="editorFontSize">Tamanho da Fonte (px)</label>
  </div>

  <h5 class="mb-4 mt-5">Configurações do Render (OpenSCAD)</h5>
  <div class="form-outline mb-4">
    <input type="number" id="renderFN" class="form-control" min="10" max="200" />
    <label class="form-label" for="renderFN">Nível de Detalhe ($fn)</label>
  </div>
</div>
